<ion-view view-title="fil">

  <header>
    <div class = "row">
      <div class="bar bar-header bar-dark">
        <img id="logo" ng-src = "img/logo.png"></img>
      </div>
    </div>
    <div class ="row" id = "Menu">
      <div class="col col-20">
        <a class="button button-clear" href ='#/fil'>
          <img ng-src = "img/icone_actu_color.png">
        </a>
      </div>
      <div class="col col-20">
        <a class="button button-clear" href ='#/itineraire'>
          <img ng-src = "img/icone_itineraire_grey.png">
        </a>
      </div>
      <div class="col col-20">
        <a class="button button-clear" href ='#/contact'>
          <img ng-src = "img/icone_contact_grey.png">
        </a>
      </div>
      <div class="col col-20">
        <a class="button button-clear" href="#tchat">
          <img ng-src = "img/icone_tchat_grey.png">
        </a>
      </div>
      <div class="col col-20">
        <a class="button button-clear" href ='#/parametre'>
          <img ng-src = "img/icone_parameters_grey.png">
        </a>
      </div>
    </div>
  </header>

  <!-- Partie scrollable -->
  <ion-content scroll="true">

    <div class = "row" id ="background">
      <div class = "col col-25 col-offset-20">
        <img id="profile-pic" ng-src={{utilisateurs[id].photo}}>
      </div>
      <div class ="col col-50" id ="info">
        <h4>
            {{utilisateurs[id].prenom}}
            {{utilisateurs[id].nom}}
        </h4>
        <h5>
          {{utilisateurs[id].coureur}}
          <br>
          <strong>{{utilisateurs[id].session}}</strong> sessions
        </h5>
      </div>
    </div>

    <div class ='row'>
      <div class="col col-50 col-offset-25 text-center">
        <button class="button button-block button-small button-positive">
          {{notification}} nouveautés
        </button>
      </div>
    </div>

    <div class ="row " ng-repeat='n in news'>
      <div class="card news-container" >
        <div class="item item-body news">
          <p id="date_texte">{{n.date}}</p>
          <p>{{n.texte}}</p>
          <img class="full-image" ng-src={{n.image}}>
        </div>
        <div class ="row info-itin" ng-if="n.dist">
          <div class="col col-50">
            <p><strong>Distance :</strong> {{n.dist}} km</p>
            <p><strong>Durée :</strong> {{n.temps}}</p>
            <p><strong>Vitesse :</strong> {{n.vitesse}} km/h</p>
          </div>
          <div class="col col-50">
            <p><strong>Accompagnateurs</strong></p>
            <div class="row">
            <div class="col col-33" ng-repeat="a in news[$index].accompagnateurs">
              <img class="card_img_small" ng-src="{{a.img}}"></img>
            </div>
          </div>
          </div>
        </div>
        <p>
          <a href="#" class="subdued"><i class="icon ion-heart"  ng-click="AddLike()"> {{n.like}}</i></a>
          <a href="#" class="subdued">{{n.comments}} commentaire(s)</a>
        </p>
      </div>
    </div>

  </ion-content>
